<div id="addDocumentoCreate">
{{ form_start(form) }}
<fieldset style="padding-bottom:10px;">    
    <div class="col-md-5">
        {{ form_row(form.descripcion) }}
    </div>     
    <div class="col-md-5">
        {{ form_row(form.file) }}
    </div>     
</fieldset>     
{{ form_end(form) }}        
</div> 