<tr class="item" divdata="item_items">
    <td class="ordTd"></td>
    
    <td class="descTd">
        <div class="input-group">
            {{ form_widget(item.descripcion, { 'attr': {'class' : 'form-control','autocomplete':'off' } }) }}
                <span class="input-group-btn" style="padding-left: 5px;">
                    <button data-toggle="tooltip" title="Buscar insumo" type="button" data-url="{{path('render_search_insumo')}}" id=""
                        class="btn btn-default btn-flat btn-xs searchAddInsumo " data-function="agregarInsumo" data-param="id"><i class="fa fa-search"></i></button>
                </span>
        </div>
        <div style="display:none;">{{ form_widget(item.insumo) }}</div>
    </td>
    <td class="cantTd">{{ form_widget(item.cantidad) }}</td>
    <td class="delTd"></td>
</tr>