<div class="table-responsive" style="padding: 15px; overflow: auto;">
    <table id="tablelist" class="table table-bordered table-hover" style="font-size:11px;">
        <thead>
            <tr>
                <th class="no-sort">Tipo {{ filtro['tipoReporte'] }}</th>
                <th class="no-sort">Marca</th>
                <th class="no-sort">Modelo</th>
                <th class="no-sort">Ubicación</th>
                <th class="no-sort">Cantidad</th>
                <th class="no-sort">Valor Unitario USD</th>
                <th class="no-sort">Total USD</th>
                <th class="no-sort">Total $</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}

            {% endfor %}
        </tbody>
    </table>
</div>