<tr class="item" divdata="item_items">
    <td class="ordTd"></td>
    <td class="prodTd">{{ form_widget(item.insumo) }} </td>
    <td class="stockTd" style="text-align:right;padding-right:10px;"></td>        
    <td class="cantTd">{{ form_widget(item.cantidad, { 'attr': {'class' : 'number floatleft','min':'0'} }) }} </td>        
    <td class="delTd" style="text-align:center;"></td>
</tr>